body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  font-size: 22px;
  line-height: 26px;
  color: #202124;
  text-align: left;
  font-weight: normal;
}
li {
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #70757a;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  width: 90px;
  height: 90px;
  vertical-align: top;
}
.weather-temperature span {
  font-size: 64px;
  font-weight: 200px;
  color: #202124;
  font-size: 64px;
  vertical-align: text-top;
  line-height: 60px;
}

#description {
  text-transform: capitalize;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  color: black;
}
.forecast-column {
  width: 12%;
  margin-right: 5px;
  background-color: #bed6f7;
  border-radius: 10px;
}
.forecast-day {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperature-max {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  font-size: 13px;
  opacity: 0.7;
}

.hour {
  font-size: 16px;
  opacity: 0.6;
}

.byHour {
  border-right: 1px solid #dee2e6;
}
