body {
  font-family: Google Sans, arial, sans-serif;
  color: #202124;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  color: #202124;
  text-align: left;
  font-weight: normal;
}
li {
  list-style: none;
  line-height: 20px;
  font-weight: normal;
  color: #70757a;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  box-shadow: 20px 0px 50px #dadde1;
}
.weather-temperature img {
  margin-right: 5px;
  width: 90px;
  height: 90px;
  vertical-align: top;
  position: relative;
  top: -10px;
}
.weather-temperature span {
  font-size: 75px;
  font-weight: 200px;
  color: #202124;
  vertical-align: text-top;
  line-height: 80px;
}

.date {
  font-size: 20px;
  margin-bottom: 5px;
}

.description {
  text-transform: capitalize;
  color: #70757a;
  font-size: 20px;
  font-weight: bolder;
}
.humAndWin {
  color: #70757a;
  font-size: 20px;
}
.humidity {
  padding-bottom: 5px;
}

.hourlyWeather {
  color: #70757a;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  color: black;
}
.forecast-column {
  width: 12%;
  margin-right: 5px;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );

  border-radius: 10px;
}
.forecast-day {
  font-size: 16px;
  margin-top: 5px;
}
.weather-forecast-temperature-max {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  font-size: 13px;
  color: #70757a;
}

.hour {
  font-size: 13px;
}
.hourlyTemp {
  color: #202124;
  font-size: 20px;
}

.byHour {
  border-right: 1px solid #dee2e6;
  color: #70757a;
}

.byHour:last-child {
  border: none;
}
